# Configuración de Base de Datos (MySQL)
DB_NAME=tienda_ecommerce_db
DB_USER=tu_usuario_local
DB_PASSWORD=tu_contraseña_local
DB_ROOT_PASSWORD=tu_contraseña_root

# Seguridad (Spring Security / JWT)
JWT_SECRET=escribe_aqui_una_clave_secreta_muy_larga_y_segura

# Configuración de Redis
REDIS_PORT=6379