
#  Entorno

.env
.env.*
!.env.example


#  Compilados de Maven / Spring boot

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
*.class
*.jar
*.war
build/
HELP.md



#  Archivos de IDEs

.idea/
*.iml
*.iws
.vscode/
.settings/
.classpath
.project


#  Logs
*.log
.DS_Store
Thumbs.db